<h2>Upload</h2>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="vdieo">Choose a video file:</label>
        <input type="file" id="video" name="video" accept="video/*">
        <button type="sumbit">Upload file</button>
</form>
{% if url %}
        <p>Video URL: <a href="{{ url }}">{{ url }}</a></p>
    
{% endif %}

{% if youtube_video_url %}
    <p>YouTube video URL: <a href="{{ youtube_video_url }}" target="_blank">{{ youtube_video_url }}</a></p>
{% endif %}


