<!DOCTYPE html>
<html lang="en">

<head>
        <title>Clip Uploader (Demo)</title>
        <link rel="stylesheet" href="styles.css">
    </head>

<body>
<h2>Upload</h2>

{% if youtube_video_url %}
    <p>Your video has been uploaded to YouTube. Here's the link: <a href="{{ youtube_video_url }}" target="_blank">{{ youtube_video_url }}</a></p>
{% endif %}


<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="video">Choose a video file:</label>
        <input type="file" id="video" name="video" class="video" accept="video/*">
        <button type="sumbit" class="submit">Upload file</button>
</form>
{% if url %}
        <p>Video URL: <a href="{{ url }}">{{ url }}</a></p>
    
{% endif %}

</body>
</html>




